# Dependencies
node_modules

# Build outputs
dist
.angular

# IDE
.vscode
.idea

# Environment files
.env
.env.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
