# .NET
API/bin/
API/obj/
*.dll
*.pdb
*.exe
*.db
*.db-shm
*.db-wal

# User Uploads
API/wwwroot/

# Environment Variables
API/.env
.env
API/appsettings.Development.json

# Angular
client/node_modules/
client/dist/
client/.angular/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
